.bg-envie-o-seu-tambem {

  position: absolute;
  font-size: 11px;
  background-color: #EEE;
  border-width: 1px 1px 0 1px;;
  border-style: solid;
  border-color: #999;
  padding: 3px;
  bottom: 0;
  left: 0.10%;
  cursor: pointer;

}